In [1]:
import pandas as pd
from slots_tracker_server.models import Expense

In [2]:
expense_data = pd.DataFrame(Expense.objects().to_json())
expense_data.timestamp = pd.to_datetime(expense_data.timestamp)
today = pd.datetime.today()
expense_data = expense_data[expense_data.timestamp <= today]
one_time = expense_data[expense_data.one_time]
not_one_time = expense_data[~expense_data.one_time]
expense_data.head()

,_id,active,amount,category,description,one_time,pay_method,timestamp
0,5ba3e74d2c88842df49ca288,True,13.5,5ba3e7492c88842df49ca27a,רכבת,False,5ba3e7482c88842df49ca275,2018-06-15
1,5ba3e74e2c88842df49ca289,True,50.0,5ba3e7492c88842df49ca27b,ארוחת בוקר,False,5ba3e7482c88842df49ca275,2018-06-15
2,5ba3e74e2c88842df49ca28a,True,30.8,5ba3e7492c88842df49ca27c,סופר פארם,False,5ba3e7482c88842df49ca275,2018-06-15
3,5ba3e74f2c88842df49ca28b,True,10.0,5ba3e7492c88842df49ca27b,שתייה,False,5ba3e7472c88842df49ca26f,2018-06-15
4,5ba3e74f2c88842df49ca28c,True,30.0,5ba3e7492c88842df49ca27d,טלפון שלומי,False,5ba3e7482c88842df49ca275,2018-06-15

In [3]:
temp = not_one_time.groupby('category').sum().amount.sort_values(ascending=False)
temp.head()

category
5ba3e74a2c88842df49ca282    6090.37
5ba3e7492c88842df49ca27b    5370.72
5ba3e7492c88842df49ca27f    4592.94
5ba3e74a2c88842df49ca281    3722.14
5ba3e74a2c88842df49ca284    2080.00
Name: amount, dtype: float64

In [6]:
temp = not_one_time.sum().amount
# temp.index = temp.index.strftime('%B %Y')
temp

28522.95

In [12]:
temp2 = one_time.groupby(pd.Grouper(key='timestamp', freq='1M')).sum().amount.last('2M')
temp2.index = temp2.index.strftime('%B %Y')
temp2

June 2019    751.0
July 2019    751.0
Name: amount, dtype: float64

In [29]:
cond = (expense_data.timestamp > previous_10th) & (expense_data.timestamp < current_10th)
t = expense_data[cond].groupby(pd.Grouper(key='timestamp', freq='1M')).sum().round().amount
t.index = t.index.strftime('%D')
t.index

Index(['06/30/18', '07/31/18'], dtype='object')

In [1]:
from slots_tracker_server.utils import convert_to_object_id, find_and_convert_object_id, find_and_convert_date, get_10th

In [8]:
previous_10th, current_10th, next_10th = get_10th(pd.datetime(2018, 7, 10))
previous_10th

datetime.datetime(2018, 6, 10, 0, 0)