In [1]:
import pandas as pd
from slots_tracker_server.models import Expense

In [2]:
expense_data = pd.DataFrame(Expense.objects().to_json())
expense_data.timestamp = pd.to_datetime(expense_data.timestamp)
today = pd.datetime.today()
expense_data = expense_data[expense_data.timestamp <= today]
one_time = expense_data[expense_data.one_time]
not_one_time = expense_data[~expense_data.one_time]
expense_data.tail()

,_id,amount,description,pay_method,timestamp,active,category,one_time
1187,5d4f37955b705347fdf9ffaf,10.0,קפה,5ba3e7472c88842df49ca273,2019-08-11,True,5ba3e7492c88842df49ca27b,False
1188,5d4f37c05b705347fdf9ffb0,350.0,קפה,5be490a96dcb660027de4298,2019-08-11,True,5ba3e7492c88842df49ca27a,True
1189,5d4f37ec5b705347fdf9ffb1,40.0,מכולת,5be490a96dcb660027de4298,2019-08-11,True,5bc082b1ca39f80027787980,True
1190,5d4f38d05b705347fdf9ffb2,110.0,ccc,5be490a96dcb660027de4298,2019-08-11,True,5ba3e7492c88842df49ca27f,False
1191,5d643ddb9b7c0b6b7f49085f,111.0,NaN,5ba3e7472c88842df49ca270,2019-08-26,True,5ba3e7492c88842df49ca27b,False

In [13]:
temp = not_one_time.groupby('category').sum().round().amount.sort_values(ascending=False)
temp

category
5ba3e74a2c88842df49ca282    7299.0
5ba3e7492c88842df49ca27b    6863.0
5ba3e74a2c88842df49ca281    5416.0
5ba3e7492c88842df49ca27e    4920.0
5ba3e7492c88842df49ca27f    4904.0
5ba3e74a2c88842df49ca284    3440.0
5ba3e74a2c88842df49ca280    1590.0
5ba3e7492c88842df49ca27d    1322.0
5ba3e7492c88842df49ca27a    1163.0
5ba3e74a2c88842df49ca283     860.0
5ba3e7492c88842df49ca27c     685.0
5ba3e74b2c88842df49ca286     684.0
5ba3e74b2c88842df49ca287     464.0
5bc082b1ca39f80027787980      58.0
5ba3e74a2c88842df49ca285      30.0
Name: amount, dtype: float64

In [30]:
temp2 = not_one_time.groupby('category').sum().round().amount.sort_values(ascending=False)
temp2

category
5ba3e74a2c88842df49ca282    7299.0
5ba3e7492c88842df49ca27b    6863.0
5ba3e74a2c88842df49ca281    5416.0
5ba3e7492c88842df49ca27e    4920.0
5ba3e7492c88842df49ca27f    4904.0
5ba3e74a2c88842df49ca284    3440.0
5ba3e74a2c88842df49ca280    1590.0
5ba3e7492c88842df49ca27d    1322.0
5ba3e7492c88842df49ca27a    1163.0
5ba3e74a2c88842df49ca283     860.0
5ba3e7492c88842df49ca27c     685.0
5ba3e74b2c88842df49ca286     684.0
5ba3e74b2c88842df49ca287     464.0
5bc082b1ca39f80027787980      58.0
5ba3e74a2c88842df49ca285      30.0
Name: amount, dtype: float64

In [18]:
not_one_time[not_one_time.category == '5ba3e74a2c88842df49ca282'].count()

_id            158
active         158
amount         158
category       158
description    158
one_time       158
pay_method     158
timestamp      158
dtype: int64

In [31]:
7299 / 4

1824.75

In [22]:
not_one_time.timestamp.min()

Timestamp('2018-06-15 00:00:00')

In [25]:
not_one_time.timestamp.max()

Timestamp('2018-10-26 00:00:00')

In [33]:
(not_one_time.timestamp.max() - not_one_time.timestamp.min()).days

133

In [2]:
from slots_tracker_server.models import Expense
from collections import Counter
import os

path = '/Users/shlomihome/workspace/slots_tracker_server/pyinvoke'
if path not in os.sys.path:
    os.sys.path.append(path)
os.sys.path
%load_ext autoreload

In [12]:
res = Expense.objects(active=True)

In [36]:
%autoreload 2
from pyinvoke.db import transform_desc
c = Counter()
for item in res:
    description = item.description
    clean_description = transform_desc(description)
    c[clean_description] += 1

values = []
# for x in c.most_common():
#     if x[1] > 1:
#         values.append(x)

for x in sorted(c.items()):
    values.append(x)

In [38]:
len(values)
# values

270

In [9]:
one_time.groupby('category').sum().round().amount.sort_values(ascending=False)

category
5ba3e7492c88842df49ca27b    12603.0
5ba3e74b2c88842df49ca287    12548.0
5ba3e7492c88842df49ca27f     5035.0
5ba3e74a2c88842df49ca283     1219.0
5ba3e74a2c88842df49ca281      587.0
5ba3e7492c88842df49ca27a      350.0
5bc082b1ca39f80027787980       40.0
Name: amount, dtype: float64

In [2]:
from slots_tracker_server.models import WorkGroups, Categories, PayMethods, Expense, Users

In [7]:
Users.objects.get(email='a').delete()

In [15]:
WorkGroups._meta['collection']

'work_groups'

In [16]:
Users.objects().first()

In [4]:
user = Users.objects.get(email='a')
str(user.id)

'5e91935db60669d1d11dc08d'