In [115]:
import pandas as pd
from slots_tracker_server.models import Expense
from datetime import datetime

In [118]:
expense_data = pd.DataFrame(Expense.objects().to_json())
expense_data.timestamp = pd.to_datetime(expense_data.timestamp)
today = datetime.today()
expense_data = expense_data[expense_data.timestamp <= today]
one_time = expense_data[expense_data.one_time]
not_one_time = expense_data[~expense_data.one_time]
expense_data.tail()

,_id,amount,pay_method,timestamp,active,category,one_time,business_name
2735,5f4d68cf4d47b9808fb69805,37.0,5ba3e7472c88842df49ca273,2020-08-30,True,5ba3e7492c88842df49ca27b,False,קפה אנאבל
2736,5f4d68cf4d47b9808fb69806,26.0,5ba3e7472c88842df49ca274,2020-08-30,True,5ba3e7492c88842df49ca27b,False,בוטיק סנטרל כיכר מסריק
2737,5f4d68cf578bbd8c569bf203,46.5,5ba3e7472c88842df49ca273,2020-08-31,True,5f441f48dee804f42033c2b1,False,מלכה מרקט- מכולת של פעם
2738,5f4e8e43ed116e00ba9df619,268.0,5be490a96dcb660027de4298,2020-09-01,True,5ba3e7492c88842df49ca27b,False,NaN
2739,5f51d86858e20846921cd391,75.0,5c52d3979dba630027afc0e8,2020-09-04,True,5ba3e7492c88842df49ca27b,False,NaN

In [4]:
temp = not_one_time.groupby('category').sum().round().amount.sort_values(ascending=False)
temp

category
5ba3e7492c88842df49ca27e    65857.0
5ba3e7492c88842df49ca27b    54787.0
5ba3e74a2c88842df49ca282    48630.0
5ba3e7492c88842df49ca27f    46330.0
5ba3e74a2c88842df49ca281    25420.0
                             ...
5f48187487829abe536f4f21        8.0
5f2c5892fc228827e8429e27        6.0
5f48183887829abe536f4eee        0.0
5f00e89ca5664146f8034b57      -33.0
5ba77c8d1eefa20028082db4    -2582.0
Name: amount, Length: 95, dtype: float64

In [30]:
temp2 = not_one_time.groupby('category').sum().round().amount.sort_values(ascending=False)
temp2

category
5ba3e74a2c88842df49ca282    7299.0
5ba3e7492c88842df49ca27b    6863.0
5ba3e74a2c88842df49ca281    5416.0
5ba3e7492c88842df49ca27e    4920.0
5ba3e7492c88842df49ca27f    4904.0
5ba3e74a2c88842df49ca284    3440.0
5ba3e74a2c88842df49ca280    1590.0
5ba3e7492c88842df49ca27d    1322.0
5ba3e7492c88842df49ca27a    1163.0
5ba3e74a2c88842df49ca283     860.0
5ba3e7492c88842df49ca27c     685.0
5ba3e74b2c88842df49ca286     684.0
5ba3e74b2c88842df49ca287     464.0
5bc082b1ca39f80027787980      58.0
5ba3e74a2c88842df49ca285      30.0
Name: amount, dtype: float64

In [11]:
not_one_time[not_one_time.category == '5ba3e74a2c88842df49ca282'].count()

_id           539
amount        539
pay_method    539
timestamp     539
active        539
category      539
one_time      539
dtype: int64

In [18]:
from datetime import datetime
today = datetime.today()

In [91]:
expense_data[ 
    ((expense_data.category == '5ba3e74a2c88842df49ca282') | 
     (expense_data.category == '5ba3e7492c88842df49ca27b'))].sort_values(
    'amount', ascending=False).groupby('category').head(2)

,_id,amount,pay_method,timestamp,active,category,one_time
1163,5cf6baa1349a4d1073ed9741,890.0,5ba3e7472c88842df49ca272,2019-06-04,True,5ba3e7492c88842df49ca27b,False
52,5ba3e76c2c88842df49ca2bc,663.4,5ba3e7472c88842df49ca272,2018-06-25,True,5ba3e74a2c88842df49ca282,False
1372,5d579268057f8779fabc8644,569.0,5ba3e7472c88842df49ca272,2019-07-31,True,5ba3e74a2c88842df49ca282,False
1122,5ce5a4fcc14379a9c77937de,460.0,5ba3e7472c88842df49ca270,2019-05-20,True,5ba3e7492c88842df49ca27b,False

In [124]:
pd.set_option('display.max_rows', 500)

#daily = df.set_index('timestamp').groupby(pd.TimeGrouper(freq='D', axis=1), axis=1)['impact'].count()
x = expense_data.set_index("timestamp").last("1M")
# x
# y = x.groupby(pd.Grouper(freq='1M'), axis=0)
# y.sum()
# expense_data.set_index("timestamp").DateOffset(months=1)

# expense_data['timestamp'].dt.to_period("M").DateOffset(months=1)
from datetime import datetime

# expense_data[expense_data.timestamp >= (datetime.today() - pd.tseries.offsets.MonthBegin(2))].groupby(pd.Grouper(key='timestamp', freq='1M')).sum()
datetime.today() - pd.tseries.offsets.MonthBegin(5)

Timestamp('2020-06-01 18:15:07.640732')

In [90]:
expense_data.groupby(pd.Grouper(key='timestamp', freq='1M')).sum()

                  amount  active  one_time
timestamp
2018-06-30   6145.370000      68         2
2018-07-31  10584.310000     126         2
2018-08-31   9066.590000     122         3
2018-09-30  13726.330000     116         6
2018-10-31   6806.980000      99         3
2018-11-30  12515.750000      89         3
2018-12-31  11018.100000      95         2
2019-01-31  12412.620000      96         2
2019-02-28   8360.770000      74         1
2019-03-31  13025.610000      80         2
2019-04-30  14587.240000      91         2
2019-05-31  14548.665000     101         1
2019-06-30  10913.190000      80         1
2019-07-31  18222.346667     100         2
2019-08-31  12870.806667      88         4
2019-09-30  10586.316667      61         3
2019-10-31   8266.530000      54         2
2019-11-30  11356.860000     121         2
2019-12-31  21634.350000     141         2
2020-01-31  27038.000000     169         2
2020-02-29  20320.450000     150         2
2020-03-31  27977.590000     145         0
2020-04-30  21432.300000      90         0
2020-05-31   9983.130000      95         0
2020-06-30  14089.830000     145         0
2020-07-31  18010.886667      98         0
2020-08-31   7053.556667      43         0
2020-09-30    906.666667       3         0

In [36]:
%autoreload 2
from pyinvoke.db import transform_desc
c = Counter()
for item in res:
    description = item.description
    clean_description = transform_desc(description)
    c[clean_description] += 1

values = []
# for x in c.most_common():
#     if x[1] > 1:
#         values.append(x)

for x in sorted(c.items()):
    values.append(x)