In [1]:
import pandas as pd
from slots_tracker_server.models import Expense

In [4]:
expense_data = pd.DataFrame(Expense.objects().to_json())
expense_data.timestamp = pd.to_datetime(expense_data.timestamp)
today = pd.datetime.today()
expense_data = expense_data[expense_data.timestamp <= today]
one_time = expense_data[expense_data.one_time]
not_one_time = expense_data[~expense_data.one_time]
expense_data.tail()

/Users/shlomihome/workspace/slots_tracker_server/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,_id,amount,pay_method,timestamp,active,category,one_time
2030,5e7dbedfd5f45c1ecfd750fa,33.30,5ba3e7472c88842df49ca273,2020-03-26,True,5ba3e74a2c88842df49ca282,False
2031,5e7dc16509e75ba148cf4a80,6.50,5ba3e7472c88842df49ca270,2020-03-13,True,5ba3e74a2c88842df49ca281,False
2032,5e7dc3ca09e75ba148cf4a81,30.27,5ba3e7472c88842df49ca270,2020-02-25,True,5ba3e7492c88842df49ca27e,False
2033,5e7dc3e0d5f45c1ecfd750fb,332.00,5ba3e7472c88842df49ca272,2020-03-26,True,5ba3e74a2c88842df49ca282,False
2034,5e7f5d0384fcf5d661aad3e4,76.73,5ba3e7472c88842df49ca271,2020-03-15,True,5ba3e7492c88842df49ca27e,False

In [5]:
temp = not_one_time.groupby('category').sum().round().amount.sort_values(ascending=False)
temp

category
5ba3e7492c88842df49ca27e    56336.0
5ba3e7492c88842df49ca27b    43750.0
5ba3e7492c88842df49ca27f    30679.0
5ba3e74a2c88842df49ca282    30658.0
5ba3e74a2c88842df49ca281    17415.0
5ba3e74a2c88842df49ca284    14998.0
5daac0ddbc2b8d058ed4bbd0    11166.0
5ba3e7492c88842df49ca27a     9595.0
5ba3e74a2c88842df49ca283     7826.0
5ba3e74b2c88842df49ca286     6310.0
5df932927c4d12f7615a9515     5341.0
5ba3e7492c88842df49ca27d     3366.0
5ba3e7492c88842df49ca27c     2579.0
5d6565fa49aee18bc3d4c386     2298.0
5ba3e74a2c88842df49ca280     1590.0
5ba3e74b2c88842df49ca287     1514.0
5ce79809e9196b08903ce1bd     1060.0
5bc082b1ca39f80027787980      907.0
5ba3e74a2c88842df49ca285      189.0
5cfbf9661ecfa12ae9d139fa       50.0
5ba77c8d1eefa20028082db4    -2074.0
Name: amount, dtype: float64

In [30]:
temp2 = not_one_time.groupby('category').sum().round().amount.sort_values(ascending=False)
temp2

category
5ba3e74a2c88842df49ca282    7299.0
5ba3e7492c88842df49ca27b    6863.0
5ba3e74a2c88842df49ca281    5416.0
5ba3e7492c88842df49ca27e    4920.0
5ba3e7492c88842df49ca27f    4904.0
5ba3e74a2c88842df49ca284    3440.0
5ba3e74a2c88842df49ca280    1590.0
5ba3e7492c88842df49ca27d    1322.0
5ba3e7492c88842df49ca27a    1163.0
5ba3e74a2c88842df49ca283     860.0
5ba3e7492c88842df49ca27c     685.0
5ba3e74b2c88842df49ca286     684.0
5ba3e74b2c88842df49ca287     464.0
5bc082b1ca39f80027787980      58.0
5ba3e74a2c88842df49ca285      30.0
Name: amount, dtype: float64

In [11]:
not_one_time[not_one_time.category == '5ba3e74a2c88842df49ca282'].count()

_id           539
amount        539
pay_method    539
timestamp     539
active        539
category      539
one_time      539
dtype: int64

In [18]:
from datetime import datetime
today = datetime.today()

In [91]:
expense_data[ 
    ((expense_data.category == '5ba3e74a2c88842df49ca282') | 
     (expense_data.category == '5ba3e7492c88842df49ca27b'))].sort_values(
    'amount', ascending=False).groupby('category').head(2)

,_id,amount,pay_method,timestamp,active,category,one_time
1163,5cf6baa1349a4d1073ed9741,890.0,5ba3e7472c88842df49ca272,2019-06-04,True,5ba3e7492c88842df49ca27b,False
52,5ba3e76c2c88842df49ca2bc,663.4,5ba3e7472c88842df49ca272,2018-06-25,True,5ba3e74a2c88842df49ca282,False
1372,5d579268057f8779fabc8644,569.0,5ba3e7472c88842df49ca272,2019-07-31,True,5ba3e74a2c88842df49ca282,False
1122,5ce5a4fcc14379a9c77937de,460.0,5ba3e7472c88842df49ca270,2019-05-20,True,5ba3e7492c88842df49ca27b,False

In [42]:
excel_data_df = pd.read_excel('/Users/shlomihome/Downloads/dec_19.xlsx')
excel_data_df['Unnamed: 0']
# list(excel_data_df)
# start_inx = excel_data_df[excel_data_df['Unnamed: 0'].str.contains("פירוט עבור הכרטיסים בארץ", na=False)].index[0]
# end_inx = excel_data_df[excel_data_df['Unnamed: 0'].str.contains("פירוט עבור הכרטיסים בחו''ל בדולר", na=False)].index[0]
# first_section = excel_data_df.iloc[start_inx + 3:end_inx - 2, :]
# first_section.columns = excel_data_df.iloc[start_inx + 2]
# first_section

0                                                   NaN
1                                                   NaN
2                                         חיובים קודמים
3     מספר חשבון  12-615-338471  תאריך הפקה  05.06.2...
4                             סה''כ חיובים קודמים בש''ח
                            ...
93    מספר חשבון  12-615-338471  תאריך הפקה  05.06.2...
94                                             שם כרטיס
95                                                 7759
96                                                 7759
97                                                 7759
Name: Unnamed: 0, Length: 98, dtype: object

In [36]:
%autoreload 2
from pyinvoke.db import transform_desc
c = Counter()
for item in res:
    description = item.description
    clean_description = transform_desc(description)
    c[clean_description] += 1

values = []
# for x in c.most_common():
#     if x[1] > 1:
#         values.append(x)

for x in sorted(c.items()):
    values.append(x)